<div class="row">
  <div class="large-12 columns">
    <h3>All Photos</h3>
    <hr>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <%#= link_to 'New Photo', new_photo_path, class: "button small round" %>

    <a href="#" data-reveal-id="new_image_modal" class= "button round small">New Image</a>
  </div>
</div>
<div class="row">
  <% @photos.each do |photo| %>
    <div class="large-4 small-6 columns">
      <%= link_to image_tag(photo.image.url(:thumb).to_s), photo %>
      <%#= link_to image_tag("http://placehold.it/500x500&text=Thumbnail"), photo %>
      <div class="panel">
        <p><%= photo.caption %><br/>
        <small><%= photo.when_taken %></small><br/>
        <%= photo.description %></p>
      </div>
    </div>
  <% end %>
</div>

<div id="new_image_modal" class="reveal-modal">
  <h3>Upload New File</h3>
  <hr>
  <%= direct_upload_form_for @uploader do |f| %>
    <%= f.file_field :image, class: "button round small" %>
    <%= f.submit "Upload Image",  class: "button round small success" %>
    <%#= f.submit "Upload Image",  class: "button round small success", remote: true %>
<!--     <button data-reveal-id="myModal" data-reveal-ajax="http://some-url">
    Click Me For A Modal
    </button>
 -->
  <% end %>
  <a class="close-reveal-modal">&#215;</a>
</div>


