<div class="row">
  <div class="large-12 columns">
    <h3><%= @photo.caption %></h3>
    <hr>
  </div>
</div>

<div class="row">
    <div class="large-12 columns">
      <%= image_tag @photo.image.url.to_s %>
      <div class="panel">
        <%= @photo.when_taken %><br/>
        <%= @photo.description %></p>
      </div>
    </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <%= link_to 'Edit', edit_photo_path(@photo), class: "button tiny round" %>
    <%= link_to 'Back', photos_path, class: "button tiny round"%>
    <%= link_to 'Delete', @photo, method: :delete, data: { confirm: 'Are you sure?' }, class: "button tiny round alert" %>
  </div>
</div>
